.modal_overlay{
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    z-index: 12;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actual_text{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height:50%;
    font-family: "poppins";
    padding: 6px;
    
}
textarea{
    width:80%;
    height:80%;
}
form{
    height:80%;
    width:100%;
    align-self: center;
}
button{
    background-color: black;
    color: white;
    padding: 6px;
}