form{
    height:96%;
    width:45%;
    border:none;
    border-radius: 25px;
    margin-right: 5%;
    margin-bottom: 10px;
    opacity:0.75;
}
textarea{
    min-height:60% !important;
    max-height: 100% !important;
    border-radius: 5px;
    width:95% !important;
}
label{
    width:42%;
    padding:8px;
    background-color: blue;
    color: white;
    display: block;
    border:none;
    margin-bottom: 10px;
}